{% extends 'project_K/base.html' %} {% block content %} {%for a in tasks %}
<b>Название: <a href="/viewtask/{{a.id}}">{{ a.task_name }}</a></b>
<p>Описание:<br />{{ a.task_desc }}</p>
<div align="left">К проекту: {{ a.task_proj }}</div>
<div align="left">Приоритет: {{ a.priority }}</div>
<div align="left">Отправитель: {{ a.sender }}</div>
<div align="left">Исполнитель: {{ a.implementer }}</div>
<div align="right">Выполнить до : {{ a.task_end }}</div>
<div align="right">Статус задачи : {{ a.status }}</div>
<div align="left"><a href="/coments/{{a.id}}">Коментарии</a></div>

<hr />
{% endfor %} {% endblock %}
